/* === GENERELT === */

* {
	box-sizing: border-box;
}
body {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
	margin: 0;
	transition: transform 0.2s ease;
	width: 100vw;
}
header {
	align-items: center;
	display: flex;
	gap: 20px;
	justify-content: center;
}
h1,
h2 {
	color: deeppink;
}
header h2 {
	color: purple;
}
h3 {
	margin-bottom: 0;
}
section {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 40px;
}
a {
	color: purple;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
img {
	object-fit: cover;
}
footer {
	margin-top: 40px;
}

/* === KORT === */

.usercard,
#login-container,
#register-container {
	background-color: white;
	border: 1px solid gainsboro;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: flex;
}

/* === SKJEMAER === */

form {
	display: flex;
	flex-direction: column;
	width: 100%;
}
label {
	color: dimgray;
}
input,
select {
	background-color: white;
	border: 1px solid gainsboro;
	font-size: 1rem;
	padding: 8px;
}
input:focus {
	border-color: deeppink;
	outline: none;
}
.form-row {
	display: flex;
	gap: 15px;
}
#criteria-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-bottom: 40px;
}
#register-container,
#login-container {
	align-items: center;
	flex-direction: column;
	padding: 10px 30px;
}
#register-container .form-group,
#login-container .form-group {
	display: flex;
	flex-direction: column;
	flex: 1;
	text-align: left;
	margin-bottom: 15px;
}
#profile-preview {
	margin: 0 auto;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
#profile-preview:hover {
	transform: scale(1.1);
	cursor: pointer;
}
.custom-file-label {
	text-align: center;
}
.custom-file-input {
	position: absolute;
	z-index: -1;
}

/* === BRUKERKORT === */

.usercard {
	padding: 10px;
	gap: 10px;
}
#profile-container .usercard {
	flex-direction: row;
	justify-content: left;
	max-width: fit-content;
}
#profile-contents {
	display: flex;
	flex-direction: column;
}
#profile-container img {
	height: 100px;
	width: 100px;
}
#profile-contents h3 {
	margin-top: 0;
}
#match-suggestion .usercard,
#favorites-container .usercard {
	flex-direction: column;
	margin: 10px;
	max-width: 270px;
	position: relative;
}
#match-suggestion img,
#favorites-container img {
	height: 300px;
	width: 250px;
}
.user-info {
	display: flex;
	flex-direction: column;
	gap: 5px;
	flex: 1;
}
.user-info p {
	color: dimgray;
	margin-bottom: 10px;
	margin: 2px;
}
#favorites-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	justify-content: center;
	margin: auto;
	overflow: visible;
}

/* === KNAPPER === */

button {
	cursor: pointer;
	color: white;
}
button:hover {
	transform: scale(1.1);
}
form button,
.logout-button,
.yes-button {
	background-color: deeppink;
}
form button:hover,
.logout-button:hover,
.yes-button:hover {
	background-color: purple;
}
.edit-button,
.message-button {
	background-color: mediumturquoise;
}
.edit-button:hover,
.message-button:hover {
	background-color: seagreen;
}
.delete-button {
	background-color: dimgray;
}
.delete-button:hover {
	background-color: black;
}
form button {
	border: none;
	font-size: 1rem;
	margin-top: 15px;
	padding: 10px;
}
#profile-contents .usercard-buttons {
	display: flex;
	gap: 10px;
}
#profile-contents .usercard-buttons button {
	border: none;
	padding: 8px;
}
#match-suggestion .usercard-buttons,
#favorites-container .usercard-buttons {
	position: absolute;
	top: 285px;
	display: flex;
	gap: 30px;
	left: 50%;
	transform: translate(-50%);
	justify-content: center;
	align-items: center;
}
#match-suggestion .usercard-buttons button,
#favorites-container .usercard-buttons button {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	color: white;
	cursor: pointer;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: x-large;
	margin: 0;
	border: 3px solid white;
	line-height: 1;
}

/* === GJENSIDIG MATCH === */

.status-indicator {
	font-size: 3rem;
	line-height: 1;
	pointer-events: none;
	position: absolute;
	top: 0;
	top: 15px;
	z-index: 2;
}
.not-matched-symbol {
	align-items: center;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 50%;
	color: rgba(0, 0, 0, 0.7);
	display: flex;
	height: 50px;
	justify-content: center;
	left: 15px;
	width: 50px;
}
.matched-symbol {
	right: 15px;
	color: deeppink;
	animation: pulse 1.5s infinite;
}
@keyframes pulse {
	0%,
	100% {
		transform: scale(1);
		opacity: 0.6;
	}
	50% {
		transform: scale(1.2);
		opacity: 1;
	}
}
